<%= form_for script, html: { multipart: true } do |f| %>
  <% if script.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(script.errors.count, "error") %> prohibited this script from being saved:</h2>

      <ul>
      <% script.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true, autocomplete: "off", size: "50" %>
  </div>

  <div class="field">
    <%= f.label :logline %>
    <%= f.text_area :logline, autocomplete: "off", cols: "50", rows: "3" %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, autocomplete: "off", cols: "50", rows: "10" %>
  </div>

  <div class="field">
    <%= f.label :pdf %>
    <%= f.file_field :pdf %>
  </div>

  <div class="field">
    <% if script.is_private %>
      <span class="hint--top hint--medium" data-hint="This script should be seen and commented on by anyone.">
        <%= f.radio_button :is_private, false %>
        <%= f.label :is_private, "Change to Public", value: false %>
      </span>
    <% else %>
      <span class="hint--top hint--medium" data-hint="This script should only be seen and commented on by group members.">
        <%= f.radio_button :is_private, true %>
        <%= f.label :is_private, "Change to Private", value: true %>
      </span>
    <% end %>
  </div>

  <div class="field">
    <% if script.public_comments %>
      <span class="hint--top hint--medium" data-hint="This script's comments should only be seen by me.">
        <%= f.radio_button :public_comments, false %>
        <%= f.label :public_comments, "Change to Private Comments", value: false %>
      </span>
    <% else %>
      <span class="hint--top hint--medium" data-hint="This script's comments should be seen by everyone.">
        <%= f.radio_button :public_comments, true %>
        <%= f.label :public_comments, "Change to Public Comments", value: true %>
      </span>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
