<p id="notice"><%= notice %></p>

<div class="script_container">
	<% if !@script.is_private || @script.is_private && @script.user == current_user %>

		<h1 style="text-decoration: underline"><%= @script.title %></h1>
		<p>Written by: <%= link_to @script.user.username, @script.user %></p>
		<p>Logline: <%= @script.logline %></p>
		<p>Description: <%= @script.description %></p>
		<% if @script.user == current_user %>
			<%= link_to 'Edit Script', edit_script_path(@script) %>
			<br>
		<%= link_to 'Post Script to Group(s)', edit_group_script_path(user: current_user) %>
		<% end %>
		<br>
		<iframe src=<%="#{@script.pdf.url}#toolbar=0"%> class="script_frame"></iframe>
		<br>
	<% else %>
		You don't have permission to view this script!
	<% end %>
</div>

<div class="script_comments_container">
	<span class="title">Notes</span>
	<br>
	<% if !@comments.empty? %>
		<% @comments.each do |comment| %>
			<div class="script_comment">
				<div class="comment_info">
					<%= link_to image_tag(comment.user.avatar.url(:original)), comment.user, class: "icon_thumb" %>
					<br>
					<%= link_to comment.user.username, comment.user %>
					<br>
					<%= comment.created_at %>
				</div>
				<div class="comment_content">
					<p><%= comment.content %></p>
				</div>
			</div>
			<br>
		<% end %>
	<% else %>
		No notes yet!
	<% end %>
</div>