<%= form_for group, html: { multipart: true } do |f| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true, autocomplete: "off", size: "50" %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, autocomplete: "off", cols: "50", rows: "10" %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <span class="hint--top hint--medium" data-hint="This group can be joined by anyone.">
      <%= f.radio_button :is_private, "Public" %>
      <%= f.label :is_private, "Public", value: false %>
    </span>
    <span class="hint--top hint--medium" data-hint="This group requires users to request to join.">
      <%= f.radio_button :is_private, "Private" %>
      <%= f.label :is_private, "Private", value: true%>
    </span>
    <br>
    <span class="hint--top hint--medium" data-hint="This group requires the exact group title to find.">
      <%= f.radio_button :is_searchable, "Searchable" %>
      <%= f.label :is_searchable, "Searchable", value: true %>
    </span>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
