<div id="filterrific_results">

<!-- 
<%= form_for_filterrific @filterrific do |f| %>
  <div>
    Search
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed'
    ) %>
  </div>
  <div>
    Sorted by
    <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
  </div>
  <div>
    <%= link_to(
      'Reset filters',
      reset_filterrific_url,
    ) %>
  </div>
<% end %>

<%= render(
  partial: 'groups/list',
  locals: { groups: @groups }
) %>
 -->
  <div>
    <%= page_entries_info groups %>
  </div>
  <% groups.each do |group| %>
      <% groups.each_slice(4) do |group_row| %>
      <div class="group_row">
      <% group_row.each do |group| %>
        <div class="group">
          <div class="group_thumb">
            <%= link_to image_tag(group.image.url(:original)), group, class: "user_thumb" %>
          </div>
          <span class="title"><%= link_to group.title, group %></span>
          <br>
          <% if group.members.include?(current_user) %>
            (<%= link_to "Leave", group_user_path(current_user, group), method: :delete, data: {confirm: "Are you sure you want to leave the group?"} %>)
          <% else %>
            <% if group.pending?(current_user) %>
              (Request Pending...)
            <% elsif group.is_private %>
              (<%= link_to 'Request to Join', group_users_path(user: current_user, group: group, accepted: false), method: :create %>)
            <% else %>
              (<%= link_to 'Join Group', group_users_path(user: current_user, group: group, accepted: true), method: :create %>)
            <% end %>
          <% end %>
        </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<%= will_paginate groups %>