<p id="notice"><%= notice %></p>

Group Search
<br>
<%= link_to 'Create a New Group', new_group_path %>

<h1>Groups</h1>

<table>
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.title, group %></td>
        <td><%= group.description %></td>
        <% if group.members.include?(current_user) %>
          <td><%= link_to "Leave", group_user_path(current_user, group), method: :delete, data: {confirm: "Are you sure you want to leave the group?"} %></td>
        <% else %>
          <% if group.pending?(current_user) %>
            <td>Request Pending...</td>
          <% elsif group.is_private %>
            <td><%= link_to 'Request to Join', group_users_path(user: current_user, group: group, accepted: false), method: :create %></td>
          <% else %>
            <td><%= link_to 'Join Group', group_users_path(user: current_user, group: group, accepted: true), method: :create %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>