<p id="notice"><%= notice %></p>

Group Search
<%= link_to 'New Group', new_group_path %>

<h1>Groups</h1>

<table>
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.title, group %></td>
        <td><%= group.description %></td>
        <td>Private: <%= group.is_private %></td>
        <td>Join</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>