<p id="notice"><%= notice %></p>

<div class="group_options">
  <span class="title"><%= link_to 'Create a New Group!', new_group_path %></span>
  <%= form_tag groups_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :title => nil %>
  <% end %>
</div>


<div class="groups_index_container">
  <h1>All Groups</h1>
    <% @groups.each_slice(4) do |group_row| %>
      <div class="group_row">
      <% group_row.each do |group| %>
        <div class="group">
          <div class="group_thumb_container">
            <%= link_to image_tag(group.image.url(:original)), group, class: "group_thumb" %>
            <div class="group_member_count"><%= group.members.count %></div>
          </div>
          <span class="title"><%= link_to group.title, group %></span>
          <br>
          <% if group.members.include?(current_user) %>
            (<%= link_to "Leave", group_user_path(id: current_user, group: group), method: :delete, data: {confirm: "Are you sure you want to leave the group?"} %>)
          <% else %>
            <% if group.pending?(current_user) %>
              (Request Pending...)
            <% elsif group.is_private %>
              (<%= link_to 'Request to Join', group_users_path(id: current_user, group: group, accepted: false), method: :create %>)
            <% else %>
              (<%= link_to 'Join Group', group_users_path(id: current_user, group: group, accepted: true), method: :create %>)
            <% end %>
          <% end %>
        </div>
        <% end %>
      </div>
    <% end %>
</div>

<%= will_paginate @groups %>

<br>