<p id="notice"><%= notice %></p>

<h1><%= @group.title %></h1>
<%= link_to image_tag(@group.image.url(:square)), @group.image.url %>
<p><%= @group.description %></p>
<% if @mods.include?(current_user) %>
  <%= link_to 'Edit Group', edit_group_path(@group) %>
<% end %>
<br>

<% if @group_member %>
  <%= link_to 'Leave Group', group_user_path(current_user), method: :delete, data: { confirm: 'Are you sure you want to leave the group?' }%>

  <h3>Members</h3>
  <table>
    <thead>
      <tr>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @members.each do |user| %>
        <tr>
          <td><%= link_to image_tag(user.avatar.url(:square)), user.avatar.url %>
</td>
          <td><%= link_to user.name, user %></td>
          <% if @mods.include?(current_user)%>
            <td><%= link_to "Remove", group_user_path(user) %></td>
            <% if @mods.include?(user) %>
              <td><%= link_to "Demote", edit_group_user_path(user), data: {create_mod: false} %></td>
            <% else %>
              <td><%= link_to "Promote", edit_group_user_path(user), data: {create_mod: true} %></td>
            <% end %>
          <% else %>
            <% if @mods.include?(user) %>
              <td>Mod</td>
            <%end%>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h3>Scripts</h3>
  <table>
    <thead>
      <tr>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @scripts.each do |script| %>
        <tr>
          <td><%= link_to script.title, script %></td>
          <td><%= link_to script.user.name, script.user %></td>
          <td><%= script.description %></td>
          <% if script.user == current_user %>
          <td><%= link_to 'Remove', group_script_path(script), method: :delete, data: { confirm: 'Are you sure you want to remove this script from the group?  (Your script and notes will still be available to you)' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

   link_to 'Post Script', group_scripts

<% else %>
  You don't have permission to view this group!
  <% if @group.is_private %>
    <%= link_to 'Request to Join', group_users(current_user), method: :create %>
  <% else %>
    <%= link_to 'Join Group', group_users(current_user), method: :create %>
  <% end %>
  <%= link_to 'Back', groups_path %>
<% end %>