<div class="user_show">
  <div class="circle_mask">
  </div>
    <div class="user_medium">
      <%= image_tag("http://graph.facebook.com/#{@user.uid}/picture?type=large", class: "clip_cirlce") %>
    </div>
  <h1><%= @user.username %></h1>
  <p id="notice"><%= notice %></p>
</div>

<%= render "layouts/profile_bar" %>
<div class="scripts_container">
  <br>
  <% if @user == current_user && @scripts.empty? %>
    <p>Add a script to see them displayed here!</p>
  <% elsif @user == current_user %>
    <span class="title" style="text-align: center;"><%= link_to 'Upload Script', new_script_path %></span>
  <% end %>
  <br>
  <% if !@scripts.empty? %>
    <% @scripts.each_slice(4) do |script_row| %>
      <div class="script_row">
        <% script_row.each do |script| %>
          <div class="script">
            <div class="script_thumb">
              <%= link_to image_tag('script_icon.png'), script %>
            </div>
            <br>
            <span class="title"><%= link_to script.title, script %></span>
            <br>
            <p><%= script.logline %></p>
            <% if script.user == current_user %>
              <span class="button"><%= link_to 'Edit', edit_script_path(script) %></span>
              <span class="button"><%= link_to 'Delete', script, method: :delete, data: { confirm: 'Are you sure you want to delete this script?  (You will lose all notes posted to this script)' } %></span>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    <% elsif @user != current_user %>
    <p>This User hasn't uploaded any scripts!</p>
  <% end %>
</div>

<div class="groups_container">
  <br>
  <% if @user == current_user && @groups.empty? %>
    <span class="title" style="text-align: center;"><%= link_to 'Create a Group', new_group_path %></span>
    <p style="text-align: center;">Join a group to see them displayed here!</p>
  <% elsif !@groups.empty? %>
      <% @groups.each_slice(4) do |group_row| %>
        <div class="group_row">
          <% group_row.each do |group| %>
            <div class="group">
              <div class="group_thumb">
                <%= link_to image_tag(group.image.url(:original)), group %>
              </div>

              <span class="title"><%= link_to group.title, group %></span>
              <br>
              <% if group.users.include?(current_user) %>
                <span class="button"><%= link_to "Leave Group", group_user_path(user: current_user, group: group), method: :delete, data: {confirm: "Are you sure you want to leave the group?"} %></span>
              <% else %>
                <% if group.pending?(current_user) %>
                  (Request Pending...)
                <% elsif group.is_private %>
                  (<%= link_to 'Request to Join', group_users_path(user: current_user, group: group, accepted: false), method: :create %>)
                <% else %>
                  (<%= link_to 'Join Group', group_users_path(user: current_user, group: group, accepted: true), method: :create %>)
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
  <% else %>
    <p>This User hasn't joined any groups!</p>
  <% end %>
</div>