<div class="user_show">
  <%= image_tag(@user.avatar.url(:thumb), class: "icon_medium") %>
  <h1><%= @user.username %></h1>
</div>

<%= render "layouts/profile_bar" %>
<div class="scripts_container">
  <% if !@scripts.empty? %>
      <% @scripts.each_slice(4) do |script_row| %>
        <div class="script_row">
          <% script_row.each do |script| %>
            <div class="script">
              <% if !script.is_private || script.user == current_user %>
                <%= link_to image_tag('script_icon.png'), script, class: "icon_thumb" %>
                <br>
                <span class="title"><%= link_to script.title, script %></span>
                <br>
                <% if script.user == current_user %>
                  <span class="button"><%= link_to 'Edit', edit_script_path(script) %></span>
                  <span class="button"><%= link_to 'Delete', script, method: :delete, data: { confirm: 'Are you sure you want to delete this script?  (You will lose all notes posted to this script)' } %></span>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
  <% else %>
    Add a script to see them displayed here!
  <% end %>
</div>

<div class="groups_container">
  <% if !@groups.empty? %>
      <% @groups.each_slice(4) do |group_row| %>
        <div class="group_row">
          <% group_row.each do |group| %>
            <div class="group">
              <%= link_to image_tag(group.image.url(:thumb)), group, class: "icon_thumb" %>
              <br>
              <span class="title"><%= link_to group.title, group %></span>
              <br>
              <% if group.users.include?(current_user) %>
                <span class="button"><%= link_to "Leave", group_user_path(user: current_user, group: group), method: :delete, data: {confirm: "Are you sure you want to leave the group?"} %></span>
              <% end %>
              <% if group.mods.include?(current_user) %>
                <span class="button"><%= link_to 'Edit', edit_group_path(group) %></span>
                <span class="button"><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure you want to delete this group?' } %></span>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
  <% else %>
    Join a group to see them displayed here!
  <% end %>
</div>